@model IEnumerable<AshBeeFotografia.Models.PhotosPO>
@{
    ViewBag.Title = "Portfolio";
}
<head>



</head>
<h2 class="page-header" align="center"> Sample Fotos</h2>

<div class="container" align="center">
    <div class="body">

        <div class="row">
            @if (TempData["Error"] != null)
            {
                <div class="alert-danger">
                    <h4 colspan="8">@TempData["Error"]</h4>
                </div>
            }
            @foreach (var item in Model)
            {
                <div class="col" style="display:inline-block">
                    <div class="table table-bordered">
                        <a href="@Url.Content(item.PhotoLocation)" data-lightbox="gallery" data-tile="@item.Description">
                            <img src="@Url.Content(item.PhotoLocation)" alt=" @item.PhotoName" class="thumbnail" width="200" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>