@model AshBeeFotografia.Models.AlbumPO
@{
    ViewBag.Title = "Update";
}
<style>
    .form-control {
        background-color: rgba(0, 0, 0, 0.47);
        border-color: rgba(248, 248, 255, 0.69);
        box-shadow: inset;
        color: ghostwhite;
        height: auto;
        font-family: 'Tahoma';
        font-size: small;
    }

    .btn {
        background-color: rgba(0, 0, 0, 0.40);
        color: ghostwhite;
    }

    .label {
        color: rgba(248, 248, 255, 0.70);
        font-size: medium;
        font-family: 'Tahoma';
    }

    #header {
        font-family: 'AR BERKLEY';
        color: ghostwhite;
    }

    body {
        background-image: url("/../Images/banner3.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center top;
    }
</style>
<body>
    @using (Html.BeginForm("Update", "Album", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.AlbumId)

        <h2 id="header" align="center"> Modify Album</h2>
        <div align="center" class=" form-control form-group">
            <form>

                @if (ViewBag.DropDown != null)
                {
                    <label for="User" class="label">User:</label>
                    @Html.DropDownListFor(Model => Model.UserId, (List<SelectListItem>)ViewBag.DropDown, "Please select user.", new { Class = "form-control " })
                }

                <label for="AlbumName" class="label">Album Name:</label>
                @Html.TextBoxFor(Model => Model.AlbumName, new { @class = "form-control", placeholder = Model.AlbumName })
                @Html.ValidationMessageFor(Model => Model.AlbumName)

                <label for="Description" class="label">Album Description:</label>
                @Html.TextBoxFor(Model => Model.AlbumDescription, new { @class = "form-control", placeholder = Model.AlbumDescription })
                @Html.ValidationMessageFor(Model => Model.AlbumDescription)
                <br />
                <input type="submit" value="Update" class="btn form-control" />
            </form>
        </div>
    }
</body>